In [42]:
import csv
import random
import numpy as np
import math
import pandas as pd
from sklearn.metrics import silhouette_score

In [43]:
file = open("data skripsiFIX1.csv")
data = csv.reader(file,delimiter=",")
data = list(data)

In [44]:
file = open("data skripsiFIX.csv")
datax = csv.reader(file,delimiter=",")
datax = list(datax)
datax.pop(0)
datax

[['SUWARDI', '1', '0', '0', '0'],
 ['SUPARNI', '1', '0.6', '0', '0'],
 ['WAGIMAN', '1', '0.6', '1', '0'],
 ['HARJO SARNO', '0.5', '0', '1', '0'],
 ['AHMAD SUPARNO', '0', '0', '0', '0'],
 ['ASMO RIMIN', '1', '1', '1', '1'],
 ['PAIMAN', '1', '0', '1', '0'],
 ['SUMARTO WARNO', '0.5', '0.6', '0', '1'],
 ['KARNI', '1', '0', '1', '0'],
 ['ASMO SUPAR', '0.5', '0.6', '1', '0'],
 ['SLAMET', '0.5', '1', '1', '1'],
 ['MUSLIM', '0', '0', '0', '0'],
 ['IMAM SUPARTO', '1', '0.6', '0', '0'],
 ['PAERAN', '1', '1', '0', '1'],
 ['SURATNO', '0', '0', '0', '0'],
 ['ANOM SUPARNO', '0.5', '0', '0', '0'],
 ['SAPAR', '0.5', '0', '0', '0'],
 ['DARKUN', '0', '0', '0', '0'],
 ['DIDIK PUJIANTO', '0', '0', '0', '0'],
 ['JOKO PURWANTO', '0', '0', '0', '0'],
 ['KARNIYANTO', '1', '0', '0', '0'],
 ['ATMO PARDI', '0', '0.6', '0', '0'],
 ['DARMO WARNO', '1', '0.6', '1', '0'],
 ['AGUS RIYANTO', '0.5', '0', '0', '0'],
 ['WIRO SATUN', '0', '0', '0', '0'],
 ['SUDARNO', '0', '0', '0', '0'],
 ['SURATNO', '0', '0', '0', '0'],
 ['SUGIANTO', '1', '0.6', '0', '0'],
 ['SUPRIYONO', '0', '0', '0', '0'],
 ['WARSONO', '1', '0.6', '0', '0'],
 ['KARTO SALIM', '1', '0', '0', '0'],
 ['SARNO', '0', '0', '0', '0'],
 ['ALEX SETIAWAN', '0', '0', '0', '0'],
 ['SUKARNO', '0', '0', '1', '0'],
 ['WAHYUDI', '1', '0', '1', '0'],
 ['ABDURRAHMAN HAKIM ZAIN', '0', '0', '0', '0'],
 ['SUWARNO', '0.5', '0', '0', '0'],
 ['SUWASIT', '0', '0', '0', '0'],
 ['KUSLAN', '0', '0', '0', '0'],
 ['RUBIYANTO', '0.5', '0', '0', '0'],
 ['SUPARNI', '1', '0.6', '0', '0'],
 ['EDY PRAYITNO', '0', '0', '0', '0'],
 ['KASMO MISRAN', '0', '0', '0', '0'],
 ['SUJARYANTO', '0.5', '0.6', '0', '0'],
 ['SUWADI', '1', '0.6', '0', '0'],
 ['MUKHAMAD RIFA`I', '0.5', '0', '0', '0'],
 ['HARYONO', '0.5', '0', '1', '0'],
 ['DARMO ISNO', '0', '0', '1', '0'],
 ['MUHAMMAD AMIN NASHIR', '0', '0', '0', '0'],
 ['MUCHTAR LUTHFI ANSHORI', '1', '0', '0', '0'],
 ['SURAT', '0.5', '0.6', '0', '0'],
 ['HARDJO KAMSU', '0', '0.6', '0', '0'],
 ['PARNI', '0', '0.6', '0', '1'],
 ['KARNO', '0.5', '0', '0', '0'],
 ['SUMARJOKO', '0.5', '0', '0', '0'],
 ['WARSONO', '0.5', '0', '0', '0'],
 ['CHOIRIL ANWAR', '0', '0', '0', '0'],
 ['KASTUR', '0', '0', '0', '0'],
 ['SUNARNO', '0.5', '0', '0', '0'],
 ['MUJIANTO', '0', '0', '1', '0'],
 ['ISNOTO', '0', '0.6', '1', '0'],
 ['TUKIMAN', '0.5', '0', '0', '0'],
 ['DIKUN', '1', '0.6', '1', '1'],
 ['JOKO HADI SUWITO', '0', '0', '1', '0'],
 ['ABD. BAKRUN', '0.5', '0.6', '0', '0'],
 ['HARNO SISWANTO', '0', '0', '1', '0'],
 ['HARI SUSANTO', '1', '0', '0', '0'],
 ['WIRYO SUPARTO', '0', '0.6', '1', '0'],
 ['BARI', '0', '0.6', '0', '0'],
 ['SUMARNO', '0', '0', '0', '0'],
 ['HARYONO', '0', '0', '0', '0'],
 ['BASUKI', '0', '0', '0', '0'],
 ['EKO ZAINI', '0.5', '0', '0', '0'],
 ['SANTOSO', '0.5', '0', '0', '0'],
 ['BAMBANG PARIYANTO', '0.5', '0.6', '0', '0'],
 ['SUBIYANTO', '0', '0', '0', '0'],
 ['SURYONO', '0.5', '0.6', '0', '0'],
 ['NUR FADLI RAMADAN', '0.5', '0', '0', '0'],
 ['RAHMAT HARIYONO', '0', '0', '0', '0'],
 ['SUCIPTO', '0.5', '0.6', '0', '0'],
 ['SALAMUN', '0', '0.6', '0', '0'],
 ['MARTO SABAR', '0.5', '0', '0', '0'],
 ['HARJO SARNO', '0', '0', '0', '0'],
 ['ROKIP', '0', '0', '0', '0'],
 ['HARJO WAGIMAN', '0.5', '0', '0', '0'],
 ['MUJIMAN', '0', '0', '0', '0'],
 ['WIYONO', '0', '0', '0', '0'],
 ['SUPRIHNO', '0', '0', '0', '0'],
 ['WIRJO SUPONO', '0.5', '0.6', '0', '1'],
 ['KARTO KARDI', '0', '0', '0', '0'],
 ['PARTO SURAJI', '1', '0', '0', '0'],
 ['MUJIANTO', '0', '0.6', '0', '0'],
 ['ROCHMAD', '0', '0', '0', '0'],
 ['AGUS RIYANTO', '0.5', '0.6', '0', '0'],
 ['SUTONO', '1', '0', '0', '0'],
 ['ISNO', '0.5', '1', '0', '0'],
 ['AGUS SUWITO', '0', '0.6', '0', '0'],
 ['PANGAT', '1', '0', '0', '1'],
 ['AGUS YULIANTO', '0', '0', '0', '0'],
 ['SUPARNO', '0', '0.6', '1', '0'],
 ['DWI KUSBIYANTO', '0', '0', '0', '0'],
 ['MOCH.SAMIDI', '0.5', '0.6', '1', '0'],
 ['HARI SISWANTO', '0.5', '0', '0', '0'],
 ['SLAMET MULYONO', '0', '0.6', '0', '0'],
 ['KUSLAN', '0.5', '0', '1', '0'],
 ['PARNI', '0', '0.6', '0', '0'],
 ['MEDY SISWANTO', '0.5', '0', '0', '0'],
 ['MOKHAMAD PRIYONO', '0.5', '0', '0', '0'],
 ['SUNARDI', '0', '0', '0', '1'],
 ['DIDIK SANTOSO', '0.5', '0', '0', '0'],
 ['SUPRIYANTO', '0', '0.6', '0', '0'],
 ['JAROT SISWANTO', '0.5', '0', '0', '0'],
 ['SUMADI', '0', '0', '0', '0'],
 ['EKO PURNOMO', '1', '0.6', '0', '1'],
 ['SUKAMTO', '0', '0', '0', '0']]

In [45]:
data = [x for x in data[1:]]

In [46]:
data = np.asarray(data,dtype=float)
data

array([[1. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [1. , 0.6, 1. , 0. ],
       [0.5, 0. , 1. , 0. ],
       [0. , 0. , 0. , 0. ],
       [1. , 1. , 1. , 1. ],
       [1. , 0. , 1. , 0. ],
       [0.5, 0.6, 0. , 1. ],
       [1. , 0. , 1. , 0. ],
       [0.5, 0.6, 1. , 0. ],
       [0.5, 1. , 1. , 1. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [1. , 1. , 0. , 1. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [1. , 0.6, 1. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [1. , 0. , 1. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 1. , 0. ],
       [0. , 0. , 1. , 0. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0.6, 0. , 1. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [0. , 0.6, 1. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [1. , 0.6, 1. , 1. ],
       [0. , 0. , 1. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [1. , 0. , 0. , 0. ],
       [0. , 0.6, 1. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0.6, 0. , 1. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [0.5, 1. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [1. , 0. , 0. , 1. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0.6, 1. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0.6, 1. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0.5, 0. , 1. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 1. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 1. ],
       [0. , 0. , 0. , 0. ]])

In [47]:
def matrikskeanggotaan():
    matriksu = list()
    for i in range(len(data)):
        randomnumber = [random.random() for x in range(c)]
        jumlah = sum(randomnumber)
        temp = list()
        for x in randomnumber:
            temp.append(round(x/jumlah,3))
        matriksu.append(temp)
    return matriksu

In [48]:
def centroid(keanggotaan):
    xraised = []
    jumlahcentroid = []
    centroid = []
    for x in range(len(data)):
        raised = []
        for y in range(c):
            cie = math.pow(keanggotaan[x][y],w)
            raised.append(cie)
        xraised.append(raised) 
    for x in range(c):
        sumz = 0
        for y in range(len(data)):
            sumz += xraised[y][x]
        jumlahcentroid.append(sumz)
    for i in range(c):
        temp = []
        for x in range(len(data[0])):
            sum_u = 0
            for y in range(len(data)):
                sum_u += (xraised[y][i]*data[y][x])/(jumlahcentroid[i])
            temp.append(round(sum_u,4))
        centroid.append(temp)
    return centroid

In [49]:
def obyektif(centroid,keanggotaan):
    obj = 0
    dist = []
    xraised = []
    for x in range(len(data)):
        raised = []
        for y in range(c):
            cie = math.pow(keanggotaan[x][y],w)
            raised.append(cie)
        xraised.append(raised)
    for x in range(len(data)):
        temp = []
        for y in range(c):
            sum_z = 0
            for i in range(len(data[0])):
                sum_z += math.pow(data[x][i]-centroid[y][i],2)
            temp.append(sum_z)
        dist.append(temp)
    for x in range(len(data)):
        for y in range(c):
            obj += dist[x][y]*xraised[x][y]
    return obj

In [50]:
def updateMatriks(keanggotaan,centroid):
    dist = []
    for x in range(len(data)):
        temp = []
        for y in range(c):
            sum_z = 0
            for i in range(len(data[0])):
                sum_z += math.pow(data[x][i]-centroid[y][i],2)
            temp.append(round(math.sqrt(sum_z),4))
        dist.append(temp)
    distraised = []
    for i in range(len(dist)):
        temp = []
        for j in range(len(dist[0])):
            x=1/(dist[i][j]**2)
            temp.append(x)
        distraised.append(temp)
    jumlah = []
    pop = 0
    for i in range(len(distraised)):
        for j in range(len(distraised[0])):
            pop += distraised[i][j]
        jumlah.append(pop)
        pop = 0
    updatematriksu = []
    for i in range(len(distraised)):
        temp = []
        for j in range(len(distraised[0])):
            x = distraised[i][j]/jumlah[i]
            temp.append(x)
        updatematriksu.append(temp)
    return updatematriksu

In [51]:
def findcluster(u):
    cluster = []
    for x in u:
        cluster.append(np.argmax(x)+1)
    return cluster

In [52]:
c=2
w=2

In [53]:
wew = matrikskeanggotaan()

In [54]:
wew

[[0.529, 0.471],
 [0.057, 0.943],
 [0.232, 0.768],
 [0.611, 0.389],
 [0.659, 0.341],
 [0.554, 0.446],
 [0.107, 0.893],
 [0.941, 0.059],
 [0.491, 0.509],
 [0.879, 0.121],
 [0.918, 0.082],
 [0.505, 0.495],
 [0.135, 0.865],
 [0.578, 0.422],
 [0.246, 0.754],
 [0.616, 0.384],
 [0.398, 0.602],
 [0.199, 0.801],
 [0.576, 0.424],
 [0.065, 0.935],
 [0.138, 0.862],
 [0.063, 0.937],
 [0.248, 0.752],
 [0.047, 0.953],
 [0.566, 0.434],
 [0.5, 0.5],
 [0.887, 0.113],
 [0.695, 0.305],
 [0.733, 0.267],
 [0.271, 0.729],
 [0.673, 0.327],
 [0.651, 0.349],
 [0.599, 0.401],
 [0.471, 0.529],
 [0.514, 0.486],
 [0.348, 0.652],
 [0.403, 0.597],
 [0.676, 0.324],
 [0.797, 0.203],
 [0.046, 0.954],
 [0.949, 0.051],
 [0.135, 0.865],
 [0.067, 0.933],
 [0.338, 0.662],
 [0.37, 0.63],
 [0.881, 0.119],
 [0.391, 0.609],
 [0.485, 0.515],
 [0.37, 0.63],
 [0.656, 0.344],
 [0.631, 0.369],
 [0.567, 0.433],
 [0.478, 0.522],
 [0.239, 0.761],
 [0.636, 0.364],
 [0.426, 0.574],
 [0.792, 0.208],
 [0.018, 0.982],
 [0.302, 0.698],
 [0.471, 0.529],
 [0.308, 0.692],
 [0.521, 0.479],
 [0.258, 0.742],
 [0.698, 0.302],
 [0.792, 0.208],
 [0.441, 0.559],
 [0.516, 0.484],
 [0.325, 0.675],
 [0.502, 0.498],
 [0.214, 0.786],
 [0.734, 0.266],
 [0.551, 0.449],
 [0.428, 0.572],
 [0.597, 0.403],
 [0.676, 0.324],
 [0.39, 0.61],
 [0.304, 0.696],
 [0.531, 0.469],
 [0.934, 0.066],
 [0.835, 0.165],
 [0.621, 0.379],
 [0.691, 0.309],
 [0.544, 0.456],
 [0.356, 0.644],
 [0.572, 0.428],
 [0.689, 0.311],
 [0.424, 0.576],
 [0.884, 0.116],
 [0.44, 0.56],
 [0.659, 0.341],
 [0.707, 0.293],
 [0.535, 0.465],
 [0.502, 0.498],
 [0.226, 0.774],
 [0.685, 0.315],
 [0.374, 0.626],
 [0.521, 0.479],
 [0.796, 0.204],
 [0.421, 0.579],
 [0.469, 0.531],
 [0.182, 0.818],
 [0.69, 0.31],
 [0.549, 0.451],
 [0.475, 0.525],
 [0.511, 0.489],
 [0.632, 0.368],
 [0.646, 0.354],
 [0.004, 0.996],
 [0.435, 0.565],
 [0.523, 0.477],
 [0.688, 0.312],
 [0.962, 0.038],
 [0.31, 0.69],
 [0.314, 0.686],
 [0.972, 0.028]]

In [55]:
membership = wew
o1= 0
o2 = 999
e = 0.00001
i = 0

while abs(o1-o2) > e:
    centroidd = centroid(membership)
    o2 = o1
    o1 = obyektif(centroidd,membership)
    membership = updateMatriks(membership,centroidd)
cluster = findcluster(membership)
print(membership)
print(o2-o1)

[[0.38895154611311733, 0.6110484538868827], [0.2517183872976519, 0.748281612702348], [0.23344937718621997, 0.76655062281378], [0.37486109632656506, 0.6251389036734349], [0.9510128814852811, 0.0489871185147189], [0.31468069917294994, 0.6853193008270502], [0.30178383554245725, 0.6982161644575426], [0.4063804705948468, 0.5936195294051532], [0.30178383554245725, 0.6982161644575426], [0.274988482036496, 0.7250115179635039], [0.34453186529195323, 0.6554681347080468], [0.9510128814852811, 0.0489871185147189], [0.2517183872976519, 0.748281612702348], [0.34511760254526314, 0.6548823974547368], [0.9510128814852811, 0.0489871185147189], [0.7499589439896489, 0.2500410560103511], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.38895154611311733, 0.6110484538868827], [0.6898125858117562, 0.31018741418824375], [0.23344937718621997, 0.76655062281378], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.2517183872976519, 0.748281612702348], [0.9510128814852811, 0.0489871185147189], [0.2517183872976519, 0.748281612702348], [0.38895154611311733, 0.6110484538868827], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.5245732298496176, 0.47542677015038237], [0.30178383554245725, 0.6982161644575426], [0.9510128814852811, 0.0489871185147189], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.7499589439896489, 0.2500410560103511], [0.2517183872976519, 0.748281612702348], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.388750051532326, 0.6112499484676741], [0.2517183872976519, 0.748281612702348], [0.7499589439896489, 0.2500410560103511], [0.37486109632656506, 0.6251389036734349], [0.5245732298496176, 0.47542677015038237], [0.9510128814852811, 0.0489871185147189], [0.38895154611311733, 0.6110484538868827], [0.388750051532326, 0.6112499484676741], [0.6898125858117562, 0.31018741418824375], [0.5162325033025734, 0.4837674966974267], [0.7499589439896489, 0.2500410560103511], [0.7499589439896489, 0.2500410560103511], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.7499589439896489, 0.2500410560103511], [0.5245732298496176, 0.47542677015038237], [0.4314161252922204, 0.5685838747077796], [0.7499589439896489, 0.2500410560103511], [0.30530334881250915, 0.6946966511874909], [0.5245732298496176, 0.47542677015038237], [0.388750051532326, 0.6112499484676741], [0.5245732298496176, 0.47542677015038237], [0.38895154611311733, 0.6110484538868827], [0.4314161252922204, 0.5685838747077796], [0.6898125858117562, 0.31018741418824375], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.7499589439896489, 0.2500410560103511], [0.7499589439896489, 0.2500410560103511], [0.388750051532326, 0.6112499484676741], [0.9510128814852811, 0.0489871185147189], [0.388750051532326, 0.6112499484676741], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.388750051532326, 0.6112499484676741], [0.6898125858117562, 0.31018741418824375], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.9510128814852811, 0.0489871185147189], [0.4063804705948468, 0.5936195294051532], [0.9510128814852811, 0.0489871185147189], [0.38895154611311733, 0.6110484538868827], [0.6898125858117562, 0.31018741418824375], [0.9510128814852811, 0.0489871185147189], [0.388750051532326, 0.6112499484676741], [0.38895154611311733, 0.6110484538868827], [0.3700847556370997, 0.6299152443629003], [0.6898125858117562, 0.31018741418824375], [0.4030442432083772, 0.5969557567916229], [0.9510128814852811, 0.0489871185147189], [0.4314161252922204, 0.5685838747077796], [0.9510128814852811, 0.0489871185147189], [0.274988482036496, 0.7250115179635039], [0.7499589439896489, 0.2500410560103511], [0.6898125858117562, 0.31018741418824375], [0.37486109632656506, 0.6251389036734349], [0.6898125858117562, 0.31018741418824375], [0.7499589439896489, 0.2500410560103511], [0.7499589439896489, 0.2500410560103511], [0.5955443133009959, 0.4044556866990041], [0.7499589439896489, 0.2500410560103511], [0.6898125858117562, 0.31018741418824375], [0.7499589439896489, 0.2500410560103511], [0.9510128814852811, 0.0489871185147189], [0.3414627796401352, 0.6585372203598647], [0.9510128814852811, 0.0489871185147189]]
7.081800390551507e-06

In [56]:
for i in range(len(cluster)):
    datax[i].append(cluster[i])

In [57]:
display = pd.DataFrame(datax,columns=['Nama','Penghasilan','Papan','Sumber Air Minum','WC','Cluster'])
display.head(60)

                      Nama Penghasilan Papan Sumber Air Minum WC  Cluster
0                  SUWARDI           1     0                0  0        2
1                  SUPARNI           1   0.6                0  0        2
2                  WAGIMAN           1   0.6                1  0        2
3              HARJO SARNO         0.5     0                1  0        2
4            AHMAD SUPARNO           0     0                0  0        1
5               ASMO RIMIN           1     1                1  1        2
6                   PAIMAN           1     0                1  0        2
7            SUMARTO WARNO         0.5   0.6                0  1        2
8                    KARNI           1     0                1  0        2
9               ASMO SUPAR         0.5   0.6                1  0        2
10                  SLAMET         0.5     1                1  1        2
11                  MUSLIM           0     0                0  0        1
12            IMAM SUPARTO           1   0.6                0  0        2
13                  PAERAN           1     1                0  1        2
14                 SURATNO           0     0                0  0        1
15            ANOM SUPARNO         0.5     0                0  0        1
16                   SAPAR         0.5     0                0  0        1
17                  DARKUN           0     0                0  0        1
18          DIDIK PUJIANTO           0     0                0  0        1
19           JOKO PURWANTO           0     0                0  0        1
20              KARNIYANTO           1     0                0  0        2
21              ATMO PARDI           0   0.6                0  0        1
22             DARMO WARNO           1   0.6                1  0        2
23            AGUS RIYANTO         0.5     0                0  0        1
24              WIRO SATUN           0     0                0  0        1
25                 SUDARNO           0     0                0  0        1
26                 SURATNO           0     0                0  0        1
27                SUGIANTO           1   0.6                0  0        2
28               SUPRIYONO           0     0                0  0        1
29                 WARSONO           1   0.6                0  0        2
30             KARTO SALIM           1     0                0  0        2
31                   SARNO           0     0                0  0        1
32           ALEX SETIAWAN           0     0                0  0        1
33                 SUKARNO           0     0                1  0        1
34                 WAHYUDI           1     0                1  0        2
35  ABDURRAHMAN HAKIM ZAIN           0     0                0  0        1
36                 SUWARNO         0.5     0                0  0        1
37                 SUWASIT           0     0                0  0        1
38                  KUSLAN           0     0                0  0        1
39               RUBIYANTO         0.5     0                0  0        1
40                 SUPARNI           1   0.6                0  0        2
41            EDY PRAYITNO           0     0                0  0        1
42            KASMO MISRAN           0     0                0  0        1
43              SUJARYANTO         0.5   0.6                0  0        2
44                  SUWADI           1   0.6                0  0        2
45         MUKHAMAD RIFA`I         0.5     0                0  0        1
46                 HARYONO         0.5     0                1  0        2
47              DARMO ISNO           0     0                1  0        1
48    MUHAMMAD AMIN NASHIR           0     0                0  0        1
49  MUCHTAR LUTHFI ANSHORI           1     0                0  0        2
50                   SURAT         0.5   0.6                0  0        2
51            HARDJO KAMSU           0   0.6                0  0        1
52                   PARNI           0   0.6                0  1        1
53                   KARNO         0.5     0                0  0        1
54               SUMARJOKO         0.5     0                0  0        1
55                 WARSONO         0.5     0                0  0        1
56           CHOIRIL ANWAR           0     0                0  0        1
57                  KASTUR           0     0                0  0        1
58                 SUNARNO         0.5     0                0  0        1
59                MUJIANTO           0     0                1  0        1

In [58]:
display = pd.DataFrame(datax,columns=['Nama','Penghasilan','Papan','Sumber Air Minum','WC','Cluster'])
display.tail(60)

                  Nama Penghasilan Papan Sumber Air Minum WC  Cluster
55             WARSONO         0.5     0                0  0        1
56       CHOIRIL ANWAR           0     0                0  0        1
57              KASTUR           0     0                0  0        1
58             SUNARNO         0.5     0                0  0        1
59            MUJIANTO           0     0                1  0        1
60              ISNOTO           0   0.6                1  0        2
61             TUKIMAN         0.5     0                0  0        1
62               DIKUN           1   0.6                1  1        2
63    JOKO HADI SUWITO           0     0                1  0        1
64         ABD. BAKRUN         0.5   0.6                0  0        2
65      HARNO SISWANTO           0     0                1  0        1
66        HARI SUSANTO           1     0                0  0        2
67       WIRYO SUPARTO           0   0.6                1  0        2
68                BARI           0   0.6                0  0        1
69             SUMARNO           0     0                0  0        1
70             HARYONO           0     0                0  0        1
71              BASUKI           0     0                0  0        1
72           EKO ZAINI         0.5     0                0  0        1
73             SANTOSO         0.5     0                0  0        1
74   BAMBANG PARIYANTO         0.5   0.6                0  0        2
75           SUBIYANTO           0     0                0  0        1
76             SURYONO         0.5   0.6                0  0        2
77   NUR FADLI RAMADAN         0.5     0                0  0        1
78     RAHMAT HARIYONO           0     0                0  0        1
79             SUCIPTO         0.5   0.6                0  0        2
80             SALAMUN           0   0.6                0  0        1
81         MARTO SABAR         0.5     0                0  0        1
82         HARJO SARNO           0     0                0  0        1
83               ROKIP           0     0                0  0        1
84       HARJO WAGIMAN         0.5     0                0  0        1
85             MUJIMAN           0     0                0  0        1
86              WIYONO           0     0                0  0        1
87            SUPRIHNO           0     0                0  0        1
88        WIRJO SUPONO         0.5   0.6                0  1        2
89         KARTO KARDI           0     0                0  0        1
90        PARTO SURAJI           1     0                0  0        2
91            MUJIANTO           0   0.6                0  0        1
92             ROCHMAD           0     0                0  0        1
93        AGUS RIYANTO         0.5   0.6                0  0        2
94              SUTONO           1     0                0  0        2
95                ISNO         0.5     1                0  0        2
96         AGUS SUWITO           0   0.6                0  0        1
97              PANGAT           1     0                0  1        2
98       AGUS YULIANTO           0     0                0  0        1
99             SUPARNO           0   0.6                1  0        2
100     DWI KUSBIYANTO           0     0                0  0        1
101        MOCH.SAMIDI         0.5   0.6                1  0        2
102      HARI SISWANTO         0.5     0                0  0        1
103     SLAMET MULYONO           0   0.6                0  0        1
104             KUSLAN         0.5     0                1  0        2
105              PARNI           0   0.6                0  0        1
106      MEDY SISWANTO         0.5     0                0  0        1
107   MOKHAMAD PRIYONO         0.5     0                0  0        1
108            SUNARDI           0     0                0  1        1
109      DIDIK SANTOSO         0.5     0                0  0        1
110         SUPRIYANTO           0   0.6                0  0        1
111     JAROT SISWANTO         0.5     0                0  0        1
112             SUMADI           0     0                0  0        1
113        EKO PURNOMO           1   0.6                0  1        2
114            SUKAMTO           0     0                0  0        1

In [83]:
display = pd.DataFrame(datax,columns=['Nama','Penghasilan','Papan','Sumber Air Minum','WC','Cluster'])
display_urut= display.sort_values(by='Cluster')
display_urut.head(60)

                     Nama Penghasilan Papan Sumber Air Minum WC  Cluster
57                 KASTUR           0     0                0  0        1
78        RAHMAT HARIYONO           0     0                0  0        1
77      NUR FADLI RAMADAN         0.5     0                0  0        1
75              SUBIYANTO           0     0                0  0        1
73                SANTOSO         0.5     0                0  0        1
72              EKO ZAINI         0.5     0                0  0        1
71                 BASUKI           0     0                0  0        1
70                HARYONO           0     0                0  0        1
69                SUMARNO           0     0                0  0        1
68                   BARI           0   0.6                0  0        1
80                SALAMUN           0   0.6                0  0        1
65         HARNO SISWANTO           0     0                1  0        1
61                TUKIMAN         0.5     0                0  0        1
59               MUJIANTO           0     0                1  0        1
58                SUNARNO         0.5     0                0  0        1
56          CHOIRIL ANWAR           0     0                0  0        1
55                WARSONO         0.5     0                0  0        1
54              SUMARJOKO         0.5     0                0  0        1
53                  KARNO         0.5     0                0  0        1
52                  PARNI           0   0.6                0  1        1
51           HARDJO KAMSU           0   0.6                0  0        1
63       JOKO HADI SUWITO           0     0                1  0        1
48   MUHAMMAD AMIN NASHIR           0     0                0  0        1
81            MARTO SABAR         0.5     0                0  0        1
83                  ROKIP           0     0                0  0        1
112                SUMADI           0     0                0  0        1
111        JAROT SISWANTO         0.5     0                0  0        1
110            SUPRIYANTO           0   0.6                0  0        1
109         DIDIK SANTOSO         0.5     0                0  0        1
108               SUNARDI           0     0                0  1        1
107      MOKHAMAD PRIYONO         0.5     0                0  0        1
106         MEDY SISWANTO         0.5     0                0  0        1
105                 PARNI           0   0.6                0  0        1
103        SLAMET MULYONO           0   0.6                0  0        1
82            HARJO SARNO           0     0                0  0        1
102         HARI SISWANTO         0.5     0                0  0        1
98          AGUS YULIANTO           0     0                0  0        1
96            AGUS SUWITO           0   0.6                0  0        1
92                ROCHMAD           0     0                0  0        1
91               MUJIANTO           0   0.6                0  0        1
89            KARTO KARDI           0     0                0  0        1
87               SUPRIHNO           0     0                0  0        1
86                 WIYONO           0     0                0  0        1
85                MUJIMAN           0     0                0  0        1
84          HARJO WAGIMAN         0.5     0                0  0        1
100        DWI KUSBIYANTO           0     0                0  0        1
47             DARMO ISNO           0     0                1  0        1
114               SUKAMTO           0     0                0  0        1
45        MUKHAMAD RIFA`I         0.5     0                0  0        1
31                  SARNO           0     0                0  0        1
28              SUPRIYONO           0     0                0  0        1
26                SURATNO           0     0                0  0        1
25                SUDARNO           0     0                0  0        1
24             WIRO SATUN           0     0                0  0        1
21             ATMO PARDI           0   0.6                0  0        1
32          ALEX SETIAWAN           0     0                0  0        1
19          JOKO PURWANTO           0     0                0  0        1
17                 DARKUN           0     0                0  0        1
16                  SAPAR         0.5     0                0  0        1
15           ANOM SUPARNO         0.5     0                0  0        1

In [60]:
display = pd.DataFrame(datax,columns=['Nama','Penghasilan','Papan','Sumber Air Minum','WC','Cluster'])
display_urut= display.sort_values(by='Cluster')
display_urut.tail(60)

                       Nama Penghasilan Papan Sumber Air Minum WC  Cluster
32            ALEX SETIAWAN           0     0                0  0        1
19            JOKO PURWANTO           0     0                0  0        1
17                   DARKUN           0     0                0  0        1
16                    SAPAR         0.5     0                0  0        1
15             ANOM SUPARNO         0.5     0                0  0        1
14                  SURATNO           0     0                0  0        1
11                   MUSLIM           0     0                0  0        1
4             AHMAD SUPARNO           0     0                0  0        1
18           DIDIK PUJIANTO           0     0                0  0        1
33                  SUKARNO           0     0                1  0        1
23             AGUS RIYANTO         0.5     0                0  0        1
42             KASMO MISRAN           0     0                0  0        1
35   ABDURRAHMAN HAKIM ZAIN           0     0                0  0        1
41             EDY PRAYITNO           0     0                0  0        1
36                  SUWARNO         0.5     0                0  0        1
39                RUBIYANTO         0.5     0                0  0        1
37                  SUWASIT           0     0                0  0        1
38                   KUSLAN           0     0                0  0        1
66             HARI SUSANTO           1     0                0  0        2
13                   PAERAN           1     1                0  1        2
97                   PANGAT           1     0                0  1        2
12             IMAM SUPARTO           1   0.6                0  0        2
99                  SUPARNO           0   0.6                1  0        2
50                    SURAT         0.5   0.6                0  0        2
101             MOCH.SAMIDI         0.5   0.6                1  0        2
10                   SLAMET         0.5     1                1  1        2
9                ASMO SUPAR         0.5   0.6                1  0        2
104                  KUSLAN         0.5     0                1  0        2
8                     KARNI           1     0                1  0        2
7             SUMARTO WARNO         0.5   0.6                0  1        2
6                    PAIMAN           1     0                1  0        2
5                ASMO RIMIN           1     1                1  1        2
49   MUCHTAR LUTHFI ANSHORI           1     0                0  0        2
3               HARJO SARNO         0.5     0                1  0        2
2                   WAGIMAN           1   0.6                1  0        2
1                   SUPARNI           1   0.6                0  0        2
95                     ISNO         0.5     1                0  0        2
94                   SUTONO           1     0                0  0        2
90             PARTO SURAJI           1     0                0  0        2
44                   SUWADI           1   0.6                0  0        2
67            WIRYO SUPARTO           0   0.6                1  0        2
64              ABD. BAKRUN         0.5   0.6                0  0        2
62                    DIKUN           1   0.6                1  1        2
30              KARTO SALIM           1     0                0  0        2
29                  WARSONO           1   0.6                0  0        2
74        BAMBANG PARIYANTO         0.5   0.6                0  0        2
27                 SUGIANTO           1   0.6                0  0        2
76                  SURYONO         0.5   0.6                0  0        2
93             AGUS RIYANTO         0.5   0.6                0  0        2
60                   ISNOTO           0   0.6                1  0        2
46                  HARYONO         0.5     0                1  0        2
22              DARMO WARNO           1   0.6                1  0        2
113             EKO PURNOMO           1   0.6                0  1        2
20               KARNIYANTO           1     0                0  0        2
40                  SUPARNI           1   0.6                0  0        2
88             WIRJO SUPONO         0.5   0.6                0  1        2
34                  WAHYUDI           1     0                1  0        2
43               SUJARYANTO         0.5   0.6                0  0        2
79                  SUCIPTO         0.5   0.6                0  0        2
0                   SUWARDI           1     0                0  0        2

In [61]:
data_urut=display_urut

In [62]:
klaster1=display[display['Cluster'] == 1]
klaster2=display[display['Cluster'] == 2]
del klaster1['Nama']
del klaster1['Cluster']
del klaster2['Nama']
del klaster2['Cluster']

In [63]:
klaster1 =np.asarray(klaster1,dtype=float)
klaster2 =np.asarray(klaster2,dtype=float)

In [64]:
total1= sum(klaster1)
total2= sum(klaster2)
hasil1=sum(total1)/73
hasil2=sum(total2)/42
print('rata-rata kelompok 1 =',hasil1)
print('rata-rata kelompok 2 =',hasil2)

rata-rata kelompok 1 = 0.3219178082191781
rata-rata kelompok 2 = 1.7476190476190478

In [65]:
print(cluster)

[2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 2, 1, 2, 2, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 2, 2, 1, 2, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 2, 2, 1, 2, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1]

In [66]:
display = pd.DataFrame(membership,columns=['cluster1','Cluster2'])
display

     cluster1  Cluster2
0    0.388952  0.611048
1    0.251718  0.748282
2    0.233449  0.766551
3    0.374861  0.625139
4    0.951013  0.048987
..        ...       ...
110  0.689813  0.310187
111  0.749959  0.250041
112  0.951013  0.048987
113  0.341463  0.658537
114  0.951013  0.048987

[115 rows x 2 columns]

In [67]:
import numpy as np                                # for your implementation
from sklearn.metrics import pairwise_distances    # pairwise_distances() or you could choose
from scipy.spatial import distance                # cdist() to computer pairs of vectors
from sklearn import metrics                       # for comparison
from sklearn.cluster import KMeans                # for comparison
from sklearn import datasets
from matplotlib import pyplot as plt

In [68]:
cluster = np.asarray(data_urut['Cluster'],dtype=float)
cluster

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.])

In [69]:
del data_urut['Nama']
del data_urut['Cluster']
data_urut =np.asarray(data_urut,dtype=float)
data_urut

array([[0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0.6, 0. , 1. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 1. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0.6, 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 1. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0.5, 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [0. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [1. , 1. , 0. , 1. ],
       [1. , 0. , 0. , 1. ],
       [1. , 0.6, 0. , 0. ],
       [0. , 0.6, 1. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0.5, 0.6, 1. , 0. ],
       [0.5, 1. , 1. , 1. ],
       [0.5, 0.6, 1. , 0. ],
       [0.5, 0. , 1. , 0. ],
       [1. , 0. , 1. , 0. ],
       [0.5, 0.6, 0. , 1. ],
       [1. , 0. , 1. , 0. ],
       [1. , 1. , 1. , 1. ],
       [1. , 0. , 0. , 0. ],
       [0.5, 0. , 1. , 0. ],
       [1. , 0.6, 1. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0.5, 1. , 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [1. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0. , 0.6, 1. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [1. , 0.6, 1. , 1. ],
       [1. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0. , 0.6, 1. , 0. ],
       [0.5, 0. , 1. , 0. ],
       [1. , 0.6, 1. , 0. ],
       [1. , 0.6, 0. , 1. ],
       [1. , 0. , 0. , 0. ],
       [1. , 0.6, 0. , 0. ],
       [0.5, 0.6, 0. , 1. ],
       [1. , 0. , 1. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [0.5, 0.6, 0. , 0. ],
       [1. , 0. , 0. , 0. ]])

In [70]:
total= sum(data_urut)
total1=sum(total)
total1

96.90000000000002

In [71]:
X=data_urut

In [72]:
X[:2]

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [73]:
metrics.silhouette_score(X, cluster, metric='euclidean')

0.3963498906331709

In [74]:
# Calculate the means distance between the given sample and a group of samples
def get_mean_dist(X, sample_idx, group_idx):    
  
    sample = X[sample_idx].reshape(4, 1)
#     return np.mean(np.linalg.norm(np.array(X_points) - sample.T, axis=1))
    return np.mean(pairwise_distances(X[group_idx], sample.T, metric='euclidean')) 
#     return np.mean(pairwise_distances(X_points, sample.T, metric='euclidean'

In [75]:
get_mean_dist(X,0,range(73))

0.3159752106708091

In [76]:
def get_a(X, cluster, sample_idx):
   
    
    value = cluster[sample_idx]        # get the value of the corresponding index (equivalent to sample_idx) in labels
    temp = np.where(cluster == value)  # get indices of values that equals to sample_idx's value  
    group_idx = [i for i in temp[0]]  # convert from numpy array to a list
    
    if sample_idx in group_idx:
        group_idx.remove(sample_idx)  # remove the sample from the group  
    return get_mean_dist(X, sample_idx, group_idx)

In [77]:
get_a(X, cluster, 0)

0.32036375526345917

In [78]:
def get_b(X, cluster, sample_idx):
    
   
    val = cluster[sample_idx]  # get the value of the corresponding index (equivalent to sample_idx) in labels
    alist = np.unique(cluster) # gather all the unique values in label set into alist
    
    if val in alist:          # check whether the value of sample_idx is present in alist
        others = np.delete(alist, np.where(alist == val)) # if present, remove it from alist, remaining put in others  
    
    shortest = []
    for i in others:          # loop thr list containing unique values in the label set (except that of the sample_idx)        
        temp = np.where(cluster == i)      # get indices of values that equals to sample_idx's value  
        group_idx = [i for i in temp[0]]  # convert from numpy array to a list
        if sample_idx in group_idx:
            group_idx.remove(sample_idx)  # remove the sample from the group  
        shortest.append(get_mean_dist(X, sample_idx, group_idx)) #append the iteration outcome to list shortest
  
    return min(shortest)

In [79]:
get_b(X, cluster,0)

1.1939012756317224

In [80]:
def get_s(X, cluster):
    
  
    total = 0
    for i in range(len(cluster)):
         total += ((get_b(X, cluster, i) - get_a(X, cluster, i)) / max([get_b(X, cluster, i), get_a(X, cluster, i)]))
    return total / len(cluster)

In [81]:
print(get_s(X,cluster))

0.39634989063317116